{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
    <form action="{% url 'listagem_usuarios' %}" method="post">
        {% csrf_token %}
        <div style="text-align: center;">
            <h1>Cadastro de Usuários</h1>
            Nome <input class="form-control-sm" type="text" name="Nome">
            Idade <input class="form-control-sm" type="text" name="Idade">
            <button class="form-control-sm">Enviar</button>
        </div>

    </form>
</div>
{% endblock %}